@import "bootstrap/scss/functions"; // Required
@import "bootstrap/scss/variables"; // Required
@import "bootstrap/scss/mixins"; // Required


.section {
  .section-header {
    padding: 40px 0;

    @include media-breakpoint-up(lg) { 
      padding: 50px 0;
    }

    @include media-breakpoint-up(xl) { 
      padding: 60px 0;
    }
  }
  
  .section-title {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 800;
    font-size: 24px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #404040;

    @include media-breakpoint-up(lg) { 
      font-size: 28px;
    }

    @include media-breakpoint-up(xl) { 
      font-size: 32px;
    }
  }

  .section-title-inner {
    position: relative;

    &:before,
    &:after {
      content: "";
      position: absolute;
      top: calc(50% - 1em);
      width: 3em;
      height: 2em;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      display: none;

      @include media-breakpoint-up(md) { 
        display: block;
      }
    }

    &:before {
      left: -3.5em;

      @include media-breakpoint-up(md) { 
        left: -4em;
      }
  
      @include media-breakpoint-up(lg) { 
        left: -4.5em;
      }
  
      @include media-breakpoint-up(xl) { 
        left: -5em;
      }
    }

    &:after {
      right: -3.5em;

      @include media-breakpoint-up(md) { 
        right: -4em;
      }
  
      @include media-breakpoint-up(lg) { 
        right: -4.5em;
      }
  
      @include media-breakpoint-up(xl) { 
        right: -5em;
      }
    }

    &.green::before,
    &.green::after {
      background-image:url(../images/decoration-title-green.png);
    }

    &.yellow::before,
    &.yellow::after {
      background-image:url(../images/decoration-title-yellow.png);
    }
  }
}

.section__hero {
  background-color: #008937;
  position: relative;

  .section-image {
    width: 100%;
    display: block;
    max-width: 460px;
    margin: 0 auto;


    @include media-breakpoint-up(md) { 
      width: auto;
      max-width: unset;
      height: 280px;
      margin-left: -10%;
    }

    @include media-breakpoint-up(lg) { 
      height: 310px;
      margin-left: -5%;
    }

    @include media-breakpoint-up(xl) { 
      height: 358px;
      margin-left: 0%;
    }
  }

  .container {
    position: absolute;
    top: 0;
    height: 100%;
    left: 0;
    right: 0;
  }

  .title-image {
    top: 76%;
    transform: translate(0, -50%);
    position: absolute;
    right: 0;
    left: 0;
    width: 327px;
    margin: 0 auto;
    max-width: calc(100% - 30px);

    @include media-breakpoint-up(md) { 
      width: 390px;
      right: 5%;
      left: auto;
      top: 50%;
    }

    @include media-breakpoint-up(lg) { 
      width: 420px;
    }

    @include media-breakpoint-up(xl) { 
      width: 480px;
    }
  }
}

.section__nutrition {
  .section-title {
    color: white;
    text-align: center;
    margin-bottom: 2rem;

    @include media-breakpoint-up(md) { 
      margin-bottom: 0;
      text-align: left;
    }
  }
  
  .section-body {
    background-color: #007c40;
    color: #FFFFFF;
    position: relative;
    background-repeat: no-repeat;
    background-size: auto calc(100% - 200px);
    background-position: top right;
    background-image: url(../images/bg-nutrition-mobile.jpg);
    padding: 60px 0 100px;

    @include media-breakpoint-up(md) { 
      padding: 60px 0 100px;
      background-image: url(../images/bg-nutrition.jpg);
    }

    @include media-breakpoint-up(lg) { 
      padding: 75px 0 100px;
    }

    @include media-breakpoint-up(xl) { 
      padding: 86px 0 100px;
    }

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 200px;
      left: 0;
      background-image: url(../images/decoration-wood.jpg);
      z-index: 1;
      background-position: left;
      background-size: cover;

      @include media-breakpoint-up(md) { 
        background-size: 100% 100%;
      }
    }

    .container {
      position: relative;
      z-index: 2;
    }

    .section-subtitle {
      font-family: 'DINNextW01-Bold', sans-serif;
      font-weight: 700;
      font-size: 28px;
      line-height: 1.2;
      letter-spacing: -0.01em;
    }

    .section-copy {
      font-family: 'DINNextW01-Regular', sans-serif;
      font-size: 14px;
      line-height: 140%;
      letter-spacing: -0.01em;
      max-width: 27em;

      @include media-breakpoint-up(md) { 
        font-size: 15px;
      }
  
      @include media-breakpoint-up(lg) { 
        font-size: 17px;
      }
  
      @include media-breakpoint-up(xl) { 
        font-size: 18px;
      }
    }
  }

  .nutrition-box-wrapper {
    width: 100%;
    background: #a6d666;
    margin-top: 6rem;
    border: 10px solid white;
    border-radius: 30px;
    margin-bottom: 2.5rem;

    @include media-breakpoint-up(md) { 
      width: 420px;
      border: 15px solid white;
      border-radius: 45px;
      margin-bottom: 0;
    }

    @include media-breakpoint-up(lg) { 
      width: 522px;
    }

    @include media-breakpoint-up(xl) { 
      width: 624px;
    }
  }

  .decoration-table-handle {
    bottom: calc(100% + 9px);
    left: -10px;
    width: calc(100% + 20px);

    @include media-breakpoint-up(md) { 
      bottom: calc(100% + 14px);
      left: -15px;
      width: calc(100% + 30px);
    }
  }

  .nutrition-box-inner {
    overflow: hidden;
    border-radius: 20px;

    @include media-breakpoint-up(md) { 
      border-radius: 30px;
    }
  }

  .table-nutrition {
    tr th {
      padding: 0.5rem 1rem;
      color: white !important;
    }

    th + th {
      border-left: 3px solid #a6d666;
    }

    tr td {
      padding: 1rem 1rem 65px;
      width: 50%;
      color: #007740;
      vertical-align: top;
      font-size: 12px;
      line-height: 112%;
      color: #007740;
      font-family: 'DINNextW01-Regular', sans-serif;

      @include media-breakpoint-up(md) { 
        font-size: 9px;
        padding: 1rem 1rem 40px;
      }
  
      @include media-breakpoint-up(lg) { 
        font-size: 12px;
        padding: 1rem 1rem 45px;
      }
  
      @include media-breakpoint-up(xl) { 
        font-size: 14px;
        padding: 1rem 1rem 50px;
      }


      strong {
        font-family: 'DINNextW01-Bold', sans-serif;
        font-weight: 400;
      }

      span {
        color: white !important;
      }
    }
  }

  .bg-nutrition {
    background-repeat: no-repeat;
    background-position: 100% 93%;
    background-size: auto 66px;

    @include media-breakpoint-up(md) { 
      background-size: auto 50px;
    }

    @include media-breakpoint-up(lg) { 
      background-size: auto 58px;
    }

    @include media-breakpoint-up(xl) { 
      background-size: auto 66px;
    }
  }

  .table-nutrition tr .bg-nutrition-1 {
    background-image: url(../images/bg-nutrition-1.png);
  }

  .table-nutrition tr .bg-nutrition-2 {
    background-image: url(../images/bg-nutrition-2.png);
    background-position: 80% 93%;
  }

  .table-nutrition tr .bg-nutrition-3 {
    background-image: url(../images/bg-nutrition-3.png);
  }

  .table-nutrition tr .bg-nutrition-4 {
    background-image: url(../images/bg-nutrition-4.png);
    background-position: 80% 93%;
  }

  .header-table {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 800;
    font-size: 14px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    line-height: 1.2;


    @include media-breakpoint-up(md) { 
      font-size: 16px;
    }

    @include media-breakpoint-up(lg) { 
      font-size: 18px;
    }

    @include media-breakpoint-up(xl) { 
      font-size: 20px;
    }

    &.yellow {
      background: linear-gradient(90deg, #CBB04D 50.52%, #FCE94D 100%);
    }

    &.green {
      background: linear-gradient(90deg, #2D683B 0%, #4DAA58 100%);
    }
  }

  tr.packshot-detail-mobile td {
    background: linear-gradient(163.15deg, #00AE4D 4.8%, #078E2F 98.44%);
    padding: 30px 16px 30px 140px;
    font-family: 'DINNextW01-Regular';
    font-size: 12px;
    line-height: 140%;
    letter-spacing: -0.01em;
    color: #FFFFFF;

    strong {
      font-family: 'Poppins';
      font-style: italic;
      font-weight: 800;
      font-size: 14px;
      line-height: 1.4;
      letter-spacing: -0.02em;
      text-transform: uppercase;
      color: #FFFFFF;
      display: block;
      margin-bottom: 0.5em;
    }
  }

  .packshot-wrapper-desktop {
    position: absolute;
    bottom: 0;
    left: 0;

    @include media-breakpoint-up(md) { 
      left: calc(100% + 2rem);
    }


    .packshot {
      position: absolute;
      z-index: 3;
      width: 120px;
      left: 0;
      bottom: 0;
      transform: translate(7%, 34%);


      @include media-breakpoint-up(md) { 
        width: 140px;
        left: -3.5rem;
        bottom: -2.5rem;
        transform: none;
      }
  
      @include media-breakpoint-up(lg) { 
        width: 170px;
        left: -4rem;
        bottom: -2.75rem;
      }
  
      @include media-breakpoint-up(xl) { 
        width: 205px;
        left: -4.5rem;
        bottom: -3rem;
      }
    }



    .packshot-detail {
      background: linear-gradient(164.93deg, #00AE4D 4.65%, #078E2F 106.87%);
      display: none;
      width: 26rem;
      clip-path: polygon(0 0, 100% 0, 92% 100%, 0% 100%);

      @include media-breakpoint-up(md) { 
        width: 18rem;
        padding: 33px 30px 22px 5.5rem;
        display: block;
      }
  
      @include media-breakpoint-up(lg) { 
        width: 22rem;
        padding: 33px 45px 22px 7rem;
      }
  
      @include media-breakpoint-up(xl) { 
        width: 26rem;
        padding: 33px 60px 22px 9rem;
      }

      .detail-title {
        font-family: 'Poppins';
        font-style: italic;
        font-weight: 800;
        font-size: 20px;
        line-height: 18px;
        letter-spacing: -0.02em;
        text-transform: uppercase;
        color: #FFFFFF;
        padding-bottom: 0.8em;
        display: block;

        @include media-breakpoint-up(md) { 
          font-size: 16px;
        }
    
        @include media-breakpoint-up(lg) { 
          font-size: 18px;
        }
    
        @include media-breakpoint-up(xl) { 
          font-size: 20px;
        }
      }

      p {
        font-family: 'DINNextW01-Regular';
        font-size: 16px;
        line-height: 1.4;
        letter-spacing: -0.01em;
        color: #FFFFFF;

        @include media-breakpoint-up(md) { 
          font-size: 12px;
        }
    
        @include media-breakpoint-up(lg) { 
          font-size: 14px;
        }
    
        @include media-breakpoint-up(xl) { 
          font-size: 16px;
        }
      }
    }

    .packshot-detail-mobile td {
      background: linear-gradient(163.15deg, #00AE4D 4.8%, #078E2F 98.44%);
    }
  }
}

.section__goodness {
  background-image: url(../images/bg-goodness-mobile.jpg);
  background-size: cover;
  background-position: top center;
  overflow: hidden;

  @include media-breakpoint-up(md) { 
    background-image: url(../images/bg-goodness.jpg);
    background-position: center bottom;
  }

  .section-header {
    @include media-breakpoint-up(md) { 
      padding-bottom: 0;
    }
  }

  .section-title {
    color: white;
  }

  .image-container {
    max-width: 100%;
    margin: -3% auto 0;

    @include media-breakpoint-up(xl) { 
      max-width: 90%;
    }
  }

  .section-image {
    position: relative;
    height: 500px;
    left: 50%;
    transform: translate(-50%);

    @include media-breakpoint-up(md) { 
      height: auto;
      width: 100%;
      left: 0;
      transform: none;
    }
  }

  .goodness-list {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  .slick-dots {
    bottom: auto;
    position: relative;
    margin-top: 1rem;
  }

  .goodness-item {
    position: relative;
  }

  @include media-breakpoint-up(md) { 
    .goodness-item {
      position: absolute;
    }

    .goodness-item__milk {
      right: 71.2%;
      top: 25%;
    }

    .goodness-item__oats {
      right: 71.2%;
      top: 50%;
    }

    .goodness-item__kakao {
      right: 71.2%;
      top: 75%;
    }

    .goodness-item__choice {
      left: 71.2%;
      top: 47%;
    }
    
    .goodness-item__vitamin {
      left: 71.2%;
      top: 76%;
    }
  }

  .goodness-list .slick-list {
    overflow: visible;
    max-width: 340px;
    margin: 0 auto;
    left: 0;
    right: 0;

    .goodness-item {
      opacity: 0;
      transition: opacity 0.15s ease-in;

      &.slick-active {
        opacity: 1;
      }
    }
  }

  .media-pointer {
    position: absolute;
  }

  .pointer-1 {
    top: 98%;
    left: 15.5%;
    width: 4.5%;

    @include media-breakpoint-up(md) { 
      left: 93%;
      top: 49%;
      width: 29.3%;
    }
  }

  .pointer-2 {
    top: 98%;
    left: 15.5%;
    width: 4.7%;

    @include media-breakpoint-up(md) { 
      left: 93%;
      top: 41%;
      width: 38%;
    }
  }

  .pointer-3 {
    top: 98%;
    left: 15.5%;
    width: 4.7%;

    @include media-breakpoint-up(md) { 
      left: 95%;
      top: 42.5%;
      width: 32.3%;
    }
  }

  .pointer-4 {
    top: 98%;
    left: 62.5%;
    width: 15.5%;

    @include media-breakpoint-up(md) { 
      left: auto;
      right: 99%;
      top: 42.5%;
      width: 52.3%;
    }
  }

  .pointer-5 {
    top: 98%;
    left: 69.5%;
    width: 8.3%;

    @include media-breakpoint-up(md) { 
      left: auto;
      right: 99%;
      top: 9.5%;
      width: 44.3%;
    }
  }


  .media-goodness {
    display: flex;
    background: #FFFFFF;
    border-radius: 80px;
    padding: 9px;
    cursor: pointer;
    transform: scale(1);
    transition: all 0.15s ease-in;
    transform-origin: left;

    @include media-breakpoint-up(md) { 
      width: 220px;
    }

    @include media-breakpoint-up(lg) { 
      width: 280px;
    }

    @include media-breakpoint-up(xl) { 
      width: 320px;
    }


    .media-image-wrapper {
      margin-right: 28px;

      @include media-breakpoint-up(md) { 
        margin-right: 12px;
      }
  
      @include media-breakpoint-up(lg) { 
        margin-right: 22px;
      }
  
      @include media-breakpoint-up(xl) { 
        margin-right: 28px;
      }
    }

    &.left {
      @include media-breakpoint-up(md) { 
        flex-direction: row-reverse;
        text-align: right;
        transform-origin: right;
      }

      .media-image-wrapper {
        @include media-breakpoint-up(md) { 
          margin-right: 0;
          margin-left: 12px;
        }
    
        @include media-breakpoint-up(lg) { 
          margin-right: 0;
          margin-left: 22px;
        }
    
        @include media-breakpoint-up(xl) { 
          margin-right: 0;
          margin-left: 28px;
        }
      }
    }

    &:hover {
      @include media-breakpoint-up(md) { 
        transform: scale(1.1);
      }
    }
  }

  .extra {
    font-family: 'DINNextW01-Regular', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.4;
    letter-spacing: -0.01em;
    top: 100%;
    color: rgba(0, 0, 0, 0.35);

    @include media-breakpoint-up(md) { 
      font-size: 8px;
      color: white;
      padding: 0.5em 3em;
    }

    @include media-breakpoint-up(lg) { 
      font-size: 10px;
    }

    @include media-breakpoint-up(xl) { 
      font-size: 12px;
    }
  }

  .media-goodness__milk {
    @include media-breakpoint-up(md) { 
      width: 235px;
    }

    @include media-breakpoint-up(lg) { 
      width: 320px;
    }

    @include media-breakpoint-up(xl) { 
      width: 364px;
    }
  }

  .media-title {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 700;
    font-size: 14px;
    line-height: 112%;
    text-transform: uppercase;
    color: #009D30;
    margin-bottom: 0.3em;

    @include media-breakpoint-up(md) { 
      font-size: 10px;
    }

    @include media-breakpoint-up(lg) { 
      font-size: 12px;
    }

    @include media-breakpoint-up(xl) { 
      font-size: 14px;
    }
  }

  .media-copy {
    font-family: 'DINNextW01-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 112%;
    color: #009D30;

    @include media-breakpoint-up(md) { 
      font-size: 10px;
    }

    @include media-breakpoint-up(lg) { 
      font-size: 12px;
    }

    @include media-breakpoint-up(xl) { 
      font-size: 14px;
    }
  }

  .media-image {
    width: 68px;
    height: 68px;


    @include media-breakpoint-up(md) { 
      width: 45px;
      height: 45px;
    }

    @include media-breakpoint-up(lg) { 
      width: 56px;
      height: 56px;
    }

    @include media-breakpoint-up(xl) { 
      width: 68px;
      height: 68px;
    }

    &.hover {
      left: 0;
      top: 0;
      z-index: 2;
      opacity: 0;
      transition: opacity 0.15s ease-in;
    }
  }

  .media-goodness:hover .media-image.hover {
    opacity: 1;
  }

}

.section__articles {
  padding-bottom: 60px;
  overflow: hidden;
  background-image: url(../images/bg-articles-mobile.jpg);
  background-size: cover;
  background-position: center;

  @include media-breakpoint-up(md) { 
    background: none;
    padding-bottom: 70px;
  }

  @include media-breakpoint-up(lg) { 
    padding: 50px 0;
    padding-bottom: 80px;
  }

  @include media-breakpoint-up(xl) { 
    padding: 60px 0;
    padding-bottom: 90px;
  }

  .section-title {
    color: #FDE535;

    @include media-breakpoint-up(md) { 
      color: #404040;
    }
  }

  .header-copy {
    font-family: 'DINNextW01-Regular';
    font-size: 16px;
    line-height: 1.4;
    letter-spacing: -0.01em;
    color: #404040;
  }

  .articles-list {
    width: 90%;

    @include media-breakpoint-up(md) { 
      width: 100%;
    }
  }

  .slick-slider .slick-list {
    overflow: visible;
  }

  .milo__app-article--list-box {
    @media (max-width: 767px) {
      padding: 0 0 1px;
      border-radius: 0;
      background: white;
    }

    img {
      @media (max-width: 767px) {
        border-radius: 0;
      }
    }
  }

  .milo__app-article--list-box:hover {
    @media (max-width: 767px) {
      transform: none !important;
      box-shadow: none !important;
    }
  }

  .milo__app-article--list-box h5 {
    @media (max-width: 767px) {
      color: #64450A;
      font-size: 16px;
      margin-bottom: 1em;
      font-family: 'DINNextW01-Bold';
      font-weight: 400;
    }
  }

  .milo__app-article--list-box-image {
    @media (max-width: 767px) {
      position: relative;
      margin-bottom: 1.6rem;
    }
  }

  .milo__app-article--list-box-description p {
    font-family: 'DINNextW01-Regular';
    font-size: 16px;
    line-height: 1.4;
    color: #64450A;

    @include media-breakpoint-up(md) { 
      color: white;
    }
  }

  .cta-articles {
    font-family: 'DINNextW01-Bold';
    font-weight: 400;
    font-style: normal;
    float: right;
    font-size: 14px;
    color: white;
    transform: translate(0, 40%);

    span {
      vertical-align: middle;
    }
  }

  .ico-arrow {
    width: 1.2em;
    height: 1.2em;
    margin-left: 0.3em;
    vertical-align: middle;
    transform: translate(0, -4%);
  }

  .milo__app-article--list-box-next-page {
    bottom: 50%;
    transform: translate(0, 50%);
  }
}