  @font-face {
    font-family: "DINNextW01-Bold";
    src: url("../fonts/78c77b16334d415ac17d5a812345a0a1.eot");
    src: url("../fonts/78c77b16334d415ac17d5a812345a0a1.eot?#iefix")
        format("embedded-opentype"),
      url("../fonts/78c77b16334d415ac17d5a812345a0a1.woff2") format("woff2"),
      url("../fonts/78c77b16334d415ac17d5a812345a0a1.woff") format("woff"),
      url("../fonts/78c77b16334d415ac17d5a812345a0a1.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "DINNextW01-Regular";
    src: url("../fonts/1daa609fdca8da38e5bcbb12c2a987db.eot");
    src: url("../fonts/1daa609fdca8da38e5bcbb12c2a987db.eot?#iefix")
        format("embedded-opentype"),
      url("../fonts/1daa609fdca8da38e5bcbb12c2a987db.woff2") format("woff2"),
      url("../fonts/1daa609fdca8da38e5bcbb12c2a987db.woff") format("woff"),
      url("../fonts/1daa609fdca8da38e5bcbb12c2a987db.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }